<div id="send-to" class="send-to-container">
  <h2 color="info">
    <mat-icon class="material-symbols-outlined">send</mat-icon>
    <span>Conversar com</span>
  </h2>
  <p>
    Aqui você poderá iniciar uma conversa com o número desejado, podendo já
    entrar na conversa com uma mensagem pronta para ser enviada.
  </p>
  <p>Insira o número do telefone</p>
  <div class="send-to-content">
    <app-select-platform
      (selectionChanged)="onSelectionChanged($event)"
    ></app-select-platform>
    <app-form-number
      (phoneNumber)="phoneNumberChanged($event)"
      [platform]="selectedValue"
      [sendSection]="true"
      [inputName]="'Mensagem'"
    ></app-form-number>
  </div>
</div>
