<div id="to-forward" class="to-forward-container">
  <h2 color="info">
    <mat-icon class="material-symbols-outlined">forward</mat-icon>
    <span>Encaminhar mensagem</span>
  </h2>
  <p>
    Aqui se deseja encaminhar uma mensagem para vários destinos em suas listas
    de conversas frequentes ou conversas recentes, além de grupos ou contatos
    salvos.
  </p>
  <div class="to-forward-content">
    <app-select-platform
      (selectionChanged)="onSelectionChanged($event)"
    ></app-select-platform>
    <app-form-number
      [platform]="selectedValue"
      [msgSection]="true"
      [phoneSection]="false"
      [checkboxSection]="false"
    ></app-form-number>
  </div>
</div>
