<app-toolbar></app-toolbar>
<div id="about" class="about-container">
  <h2 color="info">
    <mat-icon class="material-symbols-outlined">rocket_launch</mat-icon>
    <span>Sobre esse Projeto</span>
  </h2>
  <h4 class="about-sub-tilte">Motivação:</h4>
  <p class="about-description">
    Esse projeto veio com dupla motivação, resolver uma dor sobre ter que
    conversar com alguém no WhatsApp sem ter o interesse de salvar seu contato e
    seguir estudando e desenvolvendo habilidades no framework Angular.
  </p>
  <h4 class="about-sub-tilte">Desafio:</h4>
  <p class="about-description">
    Criar uma página Web de layout agradável utilizando Angular v15 onde seja
    possível chamar a API do WhatsApp e poder iniciar uma conversa sem a
    premissa que de ter esse contato salvo em minha agenda.
  </p>
  <h4 class="about-sub-tilte">Recursos Utilizados:</h4>
  <ul class="about-description">
    <li>TypeScript</li>
    <li>SASS</li>
    <li>Angular v15</li>
    <li>Lint</li>
    <li>Angular Forms</li>
    <li>Ngx Mat Intl Tel Input</li>
    <li>Angular Material</li>
    <li>Material Icons</li>
    <li>Customização do Material</li>
    <li>API WhatsApp</li>
  </ul>
  <h4 class="about-sub-tilte">Infos:</h4>
  <ul class="about-description">
    <li class="about-description-topic">
      Escolha de Plataforma:
      <ul>
        <li class="about-description-text">
          <strong>WhatsApp Web:</strong> abrir o WhatsApp diretamente no
          navegador web.
        </li>
        <li class="about-description-text">
          <strong>App WhatsApp:</strong> irá executar a aplicação do WhatsApp
          existente em seu sistema operacional, caso não seja localizado, será
          executado no navegador.
        </li>
      </ul>
    </li>
    <li class="about-description-topic">
      Telefone
      <ul>
        <li class="about-description-text">
          Informe o número de telefone ao qual deseja entrar em contato pelo
          WhatsApp. Insira um número de telefone em formato válido.
        </li>
      </ul>
    </li>
    <li class="about-description-topic">
      Com mensagem
      <ul>
        <li class="about-description-text">
          Nessa caixa de seleção, você controla se deseja que seu primeiro
          contato com esse número aconteça já com uma mensagem pré-carregada.
        </li>
      </ul>
    </li>
    <li class="about-description-topic">
      Caixa de mensagem
      <ul>
        <li class="about-description-text">
          Observando o controle de seleção acima, através dessa caixa de texto,
          você poderá adicionar a mensagem inicial dessa interação via WhatsApp.
          Quando abrir a tela do aplicativo a mensagem já estará lá pronta para
          ser enviada.
        </li>
      </ul>
    </li>
    <li class="about-description-topic">
      Botão Enviar
      <ul>
        <li class="about-description-text">
          Como o nome do botão já propõe, através dele irá abrir uma nova janela
          com a API oficial do WhatsApp, caso não esteja logado no WhatsApp, a
          API retornará a tela de login oficial exibindo o QR Code para tal
          conexão.
        </li>
      </ul>
    </li>
    <li class="about-description-topic">
      Botão Gerar QR Code
      <ul>
        <li class="about-description-text">
          Com esse botão é possível gerar um QR Code com os dados passados nos
          itens anteriores (Telefone e/ou Mensagem). Uma aplicabilidade real
          nisso é poder submeter essa conversa para um outro aparelho,
          desfazendo a necessidade de abrir conexão nesse que está em uso o
          site.
        </li>
      </ul>
    </li>
  </ul>
</div>
<br />
<mat-divider></mat-divider>
<app-send-to></app-send-to>
<br />
<mat-divider></mat-divider>
<app-to-forward></app-to-forward>
<br />
<mat-divider></mat-divider>
<div class="info-container">
  <h4>
    Este site não coleta ou armazena nenhuma informação pessoal ou dados
    utilizados no preenchimento dos seus campos de formulário.
  </h4>
</div>
<div class="footer-container">
  <div>
    <span>Desenvolvido por Flávio Oliveira | flavsoliver@gmail.com | </span>
    <span>
      <a href="https://github.com/flaviosoliver/" target="_blank">
        https://github.com/flaviosoliver/
      </a>
    </span>
  </div>
  <img src="assets/logo-escuro.svg" width="120px" />
</div>
