.about-container {
  display: flex;
  max-width: 320px;
  flex-direction: column;
  margin-top: 70px;

  .about-sub-tilte {
    margin-bottom: 0;
  }

  strong {
    color: #111b21;
  }
}

.info-container {
  h4 {
    width: 100%;
  }
}
