<div class="check-number-form-content">
  <section class="check-number-form-section">
    <form class="check-number-form" [formGroup]="phoneForm">
      <div class="check-number-form-field-tel" *ngIf="phoneSection">
        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <ngx-mat-intl-tel-input
            formControlName="phone"
            [preferredCountries]="['br']"
            [enablePlaceholder]="true"
            [enableSearch]="true"
            name="phone"
            #phone
          >
          </ngx-mat-intl-tel-input>
          <mat-hint>Exemplo: {{ phone.selectedCountry!.placeHolder }}</mat-hint>
          <mat-error
            *ngIf="phoneForm.controls['phone']?.errors?.['validatePhoneNumber']"
            >Número com formato incorreto</mat-error
          >
        </mat-form-field>
      </div>
      <div class="check-number-form-field-message" *ngIf="msgSection">
        <mat-checkbox
          *ngIf="checkboxSection"
          formControlName="withMessage"
          (click)="checkboxSection === true ? handleActiveMessage() : null"
        >
          Com mensagem?
        </mat-checkbox>
        <mat-form-field
          appearance="outline"
          class="check-number-form-field-message-text"
        >
          <mat-label>Escreva mensagem aqui</mat-label>
          <textarea
            #message
            formControlName="message"
            area-label="Mensagem"
            placeholder="Mensagem"
            rows="5"
            matInput
          ></textarea>
          <mat-error
            *ngIf="
              phoneForm.controls.withMessage.value &&
              phoneForm.controls['message']?.errors?.['minLength']
            "
            >{{ msgErrorTextarea }}</mat-error
          >
        </mat-form-field>
      </div>
      <div class="check-number-form-btn-area">
        <button
          class="custom-btn"
          type="button"
          mat-raised-button
          aria-label="Pronto"
          color="accent"
          (click)="handleSubmit()"
          [disabled]="!isValidForm()"
        >
          Enviar
        </button>
        <button
          class="custom-btn"
          type="button"
          mat-raised-button
          aria-label="Gerar QR Code"
          color="accent"
          (click)="openDialog()"
          [disabled]="!isValidForm()"
        >
          Gerar QR Code
        </button>
      </div>
    </form>
  </section>
</div>
