.check-number-form-content {
  .check-number-form-section {
    display: block;

    .check-number-form {
      display: flex;
      // display: grid;
      align-items: baseline;
      flex-wrap: wrap;
      width: 350px;
      // grid-template-columns: repeat(2, 0fr);
      // grid-template-rows: 73px 30px;

      .check-number-form-field-tel {
        width: 260px;
      }

      .check-number-form-btn-area {
        grid-row: span 2;
        align-self: center;
      }

      .check-number-form-field-message {
        width: 260px;

        .check-number-form-field-message-text {
        }
      }
    }
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    width: 240px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .mat-mdc-form-field-flex {
    width: 200px;
  }

  input:not(.country-search) {
    bottom: 3px;
    left: 10px;
  }

  .country-list-button {
    font-size: 0.8rem !important;
  }

  .mat-menu-content:not(:empty) {
    max-height: 250px;
  }

  .mat-form-field {
    width: 300px;
  }

  .m-t-10 {
    margin-top: 10px;
  }

  .error {
    color: red;
  }
}
