<div class="toolbar-container">
  <mat-toolbar>
    <div class="toolbar-brand">
      <mat-icon class="brand-icon">auto_awesome</mat-icon>
      <span>WhatsApp Useful</span>
    </div>

    <span class="fill-remaining-space"></span>

    <div class="toolbar-links">
      <a class="nav-link" (click)="routeTo('#send-to')">Conversar</a>
      <a class="nav-link" (click)="routeTo('#to-forward')">Encaminhar</a>
      <a class="nav-link" (click)="routeTo('#about')">Sobre</a>
      <a class="nav-link" (click)="routeTo('#resources')">Tecnologias</a>
    </div>

    <div class="toolbar-actions">
      <button mat-icon-button (click)="externalRoute()">
        <mat-icon>help_outline</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
