<div id="check-number" class="check-number-container">
  <h2>
    <mat-icon color="accent" class="material-symbols-outlined"
      >person_search</mat-icon
    >
    <span color="info">Verificar Número</span>
  </h2>
  <p>
    Neste item você pode checar se o número informado possui WhatsApp ou não.
  </p>
  <div class="check-number-content">
    <app-select-platform
      (selectionChanged)="onSelectionChanged($event)"
    ></app-select-platform>
    <app-form-number
      [platform]="selectedValue"
      [phoneSection]="true"
      [msgSection]="false"
      (phoneNumber)="phoneNumberChanged($event)"
      (link)="linkChanged($event)"
    ></app-form-number>
  </div>
</div>
