@use "@angular/material" as mat;
// @import "@angular/cdk/overlay-prebuilt.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@include mat.core();

// COLORS BASE
$green-c: #25d366; // logo - info
$green-b: #128c7e; //icons - accent
$green-e: #e6ffda; // light
$green-d: #008069; // bar-light success
$dark: #111b21; //bar-dark
$green-a: #00a884; // items - primary
$error: #cf1515; // warn

// COLORS PALETTES
// reference: http://mcg.mbitson.com/
$green-c-palette: (
  50: #e5faed,
  100: #bef2d1,
  200: #92e9b3,
  300: #66e094,
  400: #46da7d,
  500: #25d366,
  600: #21ce5e,
  700: #1bc853,
  800: #16c249,
  900: #0db738,
  A100: #e5ffea,
  A200: #b2ffc2,
  A400: #7fff99,
  A700: #65ff85,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$green-b-palette: (
  50: #e3f1f0,
  100: #b8ddd8,
  200: #89c6bf,
  300: #59afa5,
  400: #369d91,
  500: #128c7e,
  600: #108476,
  700: #0d796b,
  800: #0a6f61,
  900: #055c4e,
  A100: #8effea,
  A200: #5bffe0,
  A400: #28ffd7,
  A700: #0fffd2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$green-e-palette: (
  50: #fcfffb,
  100: #f8fff4,
  200: #f3ffed,
  300: #eeffe5,
  400: #eaffe0,
  500: #e6ffda,
  600: #e3ffd6,
  700: #dfffd0,
  800: #dbffcb,
  900: #d5ffc2,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$green-d-palette: (
  50: #e0f0ed,
  100: #b3d9d2,
  200: #80c0b4,
  300: #4da696,
  400: #269380,
  500: #008069,
  600: #007861,
  700: #006d56,
  800: #00634c,
  900: #00503b,
  A100: #83ffd6,
  A200: #50ffc6,
  A400: #1dffb5,
  A700: #03ffac,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dark-palette: (
  50: #e2e4e4,
  100: #b8bbbc,
  200: #888d90,
  300: #585f64,
  400: #353d42,
  500: #111b21,
  600: #0f181d,
  700: #0c1418,
  800: #0a1014,
  900: #05080b,
  A100: #5184ff,
  A200: #1e60ff,
  A400: #0044ea,
  A700: #003dd0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$green-a-palette: (
  50: #e0f5f0,
  100: #b3e5da,
  200: #80d4c2,
  300: #4dc2a9,
  400: #26b596,
  500: #00a884,
  600: #00a07c,
  700: #009771,
  800: #008d67,
  900: #007d54,
  A100: #aaffdf,
  A200: #77ffcb,
  A400: #44ffb8,
  A700: #2affae,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$error-palette: (
  50: #f9e3e3,
  100: #f1b9b9,
  200: #e78a8a,
  300: #dd5b5b,
  400: #d63838,
  500: #cf1515,
  600: #ca1212,
  700: #c30f0f,
  800: #bd0c0c,
  900: #b20606,
  A100: #ffdcdc,
  A200: #ffa9a9,
  A400: #ff7676,
  A700: #ff5d5d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// SET COLORS
// $primary: mat.define-color($custom-primary);
// $accent: mat.define-color($custom-accent);
// $warn: mat.define-color($custom-warn);
// $success: mat.define-color($custom-success);
// $info: mat.define-color($custom-info);
// $light: mat.define-color($custom-light);
// $dark: mat.define-color($custom-dark);

// SET PALETTES CUSTOMS
$custom-primary: mat.define-palette($green-a-palette);
$custom-accent: mat.define-palette($green-b-palette);
$custom-info: mat.define-palette($green-c-palette);
$custom-success: mat.define-palette($green-d-palette);
$custom-light: mat.define-palette($green-e-palette);
$custom-warn: mat.define-palette($error-palette);
$custom-dark: mat.define-palette($dark-palette);

// THEME CONFIG
$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
      success: $custom-success,
      info: $custom-info,
      light: $custom-light,
      dark: $custom-dark,
    ),
  )
);

// SET THEME CUSTOM
@mixin custom-theme($custom-theme) {
  //   @include mat.all-component-theme($custom-theme);;
  @include mat.theme($custom-theme);
}

// @include mat.core-theme($custom-theme);

// CUSTOM CLASS
:root {
  .mat-primary .mat-button-focus-overlay {
    background-color: mat.get-color-from-palette($custom-primary, 500);
    color: mat.get-color-from-palette($custom-primary, "500-contrast");
  }

  .mat-accent .mat-button-focus-overlay {
    background-color: mat.get-color-from-palette($custom-accent, 500);
    color: mat.get-color-from-palette($custom-accent, "500-contrast");
  }

  .mat-warn .mat-button-focus-overlay {
    background-color: mat.get-color-from-palette($custom-warn, 500);
    color: mat.get-color-from-palette($custom-warn, "500-contrast");
  }

  .mat-mdc-raised-button:not(:disabled) {
    background-color: mat.get-color-from-palette($custom-primary);
  }

  .mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: mat.get-color-config(
      $custom-primary,
      500
    );
    --mdc-protected-button-label-text-color: mat.get-color-from-palette(
      $custom-primary,
      500
    );
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: mat.get-color-from-palette($custom-primary, 500);
  }

  .mat-mdc-radio-button.mat-accent {
    --mdc-radio-disabled-selected-icon-color: #000;
    --mdc-radio-disabled-unselected-icon-color: #000;
    --mdc-radio-unselected-focus-icon-color: #212121;
    --mdc-radio-unselected-hover-icon-color: #212121;
    --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-selected-focus-icon-color: #25d366;
    --mdc-radio-selected-hover-icon-color: #25d366;
    --mdc-radio-selected-icon-color: #25d366;
    --mdc-radio-selected-pressed-icon-color: #25d366;
    --mat-mdc-radio-ripple-color: #000;
    --mat-mdc-radio-checked-ripple-color: #25d366;
  }

  .mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-checkmark-color: #fff;
    --mdc-checkbox-selected-focus-icon-color: #25d366;
    --mdc-checkbox-selected-hover-icon-color: #25d366;
    --mdc-checkbox-selected-icon-color: #25d366;
    --mdc-checkbox-selected-pressed-icon-color: #25d366;
    --mdc-checkbox-unselected-focus-icon-color: #212121;
    --mdc-checkbox-unselected-hover-icon-color: #212121;
    --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
    --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
    --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  }

  .ng-valid.mat-primary.mat-focused {
    border-color: $green-b;
  }

  .mat-success {
    background-color: mat.get-color-from-palette($custom-success, 500);
    color: mat.get-color-from-palette($custom-success, "500-contrast");
  }

  .mat-info {
    background-color: mat.get-color-from-palette($custom-info, 500);
    color: mat.get-color-from-palette($custom-info, "500-contrast");
  }

  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__trailing {
    border-color: $green-d;
  }

  .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: $green-d;
  }

  .mdc-text-field--invalid:not(.mdc-text-field--disabled)
    .mdc-notched-outline__leading,
  .mdc-text-field--invalid:not(.mdc-text-field--disabled)
    .mdc-notched-outline__notch,
  .mdc-text-field--invalid:not(.mdc-text-field--disabled)
    .mdc-notched-outline__trailing {
    border-color: $error;
  }

  .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: $error;
  }

  .mat-mdc-form-field-error {
    color: $error;
  }

  .mat-menu-item:hover {
    background-color: $green-c;
  }

  .mat-icon.mat-accent {
    color: $green-b;
  }

  .mat-icon {
    color: $green-b;
  }

  .mat-divider {
    background-color: $green-c;
  }

  .mat-mdc-form-field-textarea-control {
    padding-left: 15px;
  }
}

* {
  font-family: Roboto, "Helvetica Neue", "Helvetica";
}

body {
  display: table-caption;
  width: 100vw;

  p,
  label {
    font-family: Lato;
  }

  h2 span {
    color: $green-b;
  }

  h4 {
    color: $green-c;
  }

  .info-container {
    background-color: $green-e;
    height: 70px;
    vertical-align: middle;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .footer-container {
    vertical-align: middle;
    text-align: center;
    color: $green-d;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 600;
    font-size: smaller;
  }

  .custom-btn {
    color: #ffffff;
    margin: 0 5px;
  }
}
